{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% trans_default_domain ea.i18n.translationDomain %}

<!DOCTYPE html>
<html lang="{{ ea.i18n.htmlLocale }}" dir="{{ ea.i18n.textDirection }}" data-turbo="false">
	<head>
		{% block head_metas %}
			<meta charset="UTF-8">


			<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
			<meta name="generator" content="EasyAdmin"/>
		{% endblock head_metas %}

		{% set page_title_block_output %}
		{% block page_title %}
			{{ block('content_title') }}
		{% endblock %}
		{% endset %}
		<title>{{ page_title_block_output|striptags|raw }}</title>

		{% block head_stylesheets %}
			<link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
			<link rel="stylesheet" href="{{ asset('/public/build/admin.css') }}">
			<link rel="stylesheet" href="{{ asset('/public/admin2.scss') }}">
			<link href='https://fonts.googleapis.com/css?family=Noto+Emoji' rel='stylesheet'>


		{% endblock %}

		{% block configured_stylesheets %}
			{{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea.assets.cssAssets ?? [] }, with_context = false) }}
			{{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
		{% endblock %}

		{% block head_favicon %}
			<link rel="shortcut icon" href="{{ asset(ea.dashboardFaviconPath) }}">
		{% endblock %}

		{% block head_javascript %}
			<script src="{{ asset('app.js', ea.assets.defaultAssetPackageName) }}"></script>

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://johannburkard.de/resources/Johann/jquery.highlight-4.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>


		{% endblock head_javascript %}

		{% block configured_javascripts %}
			{{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea.assets.jsAssets ?? [] }, with_context = false) }}
			{{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
		{% endblock %}

		{% if 'rtl' == ea.i18n.textDirection %}
			<link rel="stylesheet" href="{{ asset('app.rtl.css', ea.assets.defaultAssetPackageName) }}">
		{% endif %}

		{% block configured_head_contents %}
			{% for htmlContent in ea.assets.headContents ?? [] %}
				{{ htmlContent|raw }}
			{% endfor %}
		{% endblock %}
	</head>

	{% block body %}
		<body class="content1" {% block body_attr %} {% endblock %} id="{% block body_id %}{% endblock %}" class="ea {% block body_class %}{% endblock %}" data-ea-content-width="{{ ea.crud.contentWidth ?? ea.dashboardContentWidth ?? 'normal' }}" data-ea-sidebar-width="{{ ea.crud.sidebarWidth ?? ea.dashboardSidebarWidth ?? 'normal' }}" data-ea-dark-scheme-is-enabled="{{ ea.dashboardHasDarkModeEnabled ? 'true' : 'false' }}">
			{% block javascript_page_layout %}
				<script src="{{ asset('page-layout.js', ea.assets.defaultAssetPackageName) }}"></script>
			{% endblock javascript_page_layout %}
			{% block javascript_page_color_scheme %}
				<script src="{{ asset('page-color-scheme.js', ea.assets.defaultAssetPackageName) }}"></script>
			{% endblock javascript_page_color_scheme %}

			{% block wrapper_wrapper %}
				{% block flash_messages %}
					{{ include(ea.templatePath('flash_messages')) }}
				{% endblock flash_messages %}

				{% set user_menu_avatar %}
				{% if null == ea.userMenu.avatarUrl %}
					<span class="user-avatar">
						<span class="fa-stack">
							<i class="user-avatar-icon-background fas fa-square fa-stack-2x"></i>
							<i class="user-avatar-icon-foreground {{ ea.user is not null ? 'fa fa-user' : 'fas fa-user-slash' }} fa-stack-1x fa-inverse"></i>
						</span>
					</span>
				{% else %}
					<img class="user-avatar" src="{{ ea.userMenu.avatarUrl }}"/>
				{% endif %}
				{% endset %}

				{% set impersonator_permission = constant('Symfony\\Component\\Security\\Core\\Authorization\\Voter\\AuthenticatedVoter::IS_IMPERSONATOR') is defined ? 'IS_IMPERSONATOR' : 'ROLE_PREVIOUS_ADMIN' %}

				{% set user_menu_dropdown %}
				<ul class="dropdown-menu dropdown-menu-end">
					<li class="dropdown-user-details">
						<div>{{ user_menu_avatar }}</div>
						<div>
							{% if app.user %}
								<span class="user-label">{{ 'user.logged_in_as'|trans(domain = 'EasyAdminBundle') }}</span>
							{% endif %}
							<span class="user-name">
								<a class="inline-block navtext u-text-black-900 no-underline hover-2 py-2 px-4" href="/{{ app.user ? 'public/logout' : 'public/login'}}" @click="isOpen = false">
									{{ app.user ? 'Logout' : 'Login'}}
								</a>
							</span>
						</div>
					</li>

					{% block user_menu %}
						{% if ea.userMenu.items|length > 0 %}
							<li><hr class="dropdown-divider"></li>
							{% for item in ea.userMenu.items %}
								<li>
									{% if item.isMenuSection and not loop.first %}
										<hr class="dropdown-divider">
									{% elseif not item.isMenuSection %}
										<a href="{{ item.linkUrl }}" class="dropdown-item user-action {{ item.cssClass }}" target="{{ item.linkTarget }}" rel="{{ item.linkRel }}" referrerpolicy="origin-when-cross-origin">
											{% if item.icon is not empty %}
												<i class="fa fa-fw {{ item.icon }}"></i>
											{% endif %}
											<span>{{ item.label|trans }}</span>
										</a>
									{% endif %}
								</li>
							{% endfor %}
						{% endif %}
					{% endblock user_menu %}
				</ul>
				{% endset %}

				{% set settings_dropdown %}
				{% if ea.dashboardLocales or ea.dashboardHasDarkModeEnabled %}
					<div class="dropdown dropdown-settings">
						<a class="dropdown-settings-button" type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false">
							<i class="fas fa-gear"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-end">
							{% if ea.dashboardLocales %}
								<li>
									<span class="dropdown-header dropdown-locales-label">{{ 'settings.locale'|trans(domain = 'EasyAdminBundle') }}</span>
								</li>

								{% for localeDto in ea.dashboardLocales %}
									<li>
										<a href="{{ ea_url().set('_locale', localeDto.locale) }}" class="dropdown-item{% if app.request.locale == localeDto.locale %} active{% endif %}">
											{% if localeDto.icon %}
												<i class="{{ localeDto.icon }}"></i>
											{% endif %}
											{{ localeDto.name }}
										</a>
									</li>
								{% endfor %}
							{% endif %}

							{% if ea.dashboardHasDarkModeEnabled %}
								{% if ea.dashboardLocales %}
									<div class="dropdown-divider"></div>
								{% endif %}

								<li>
									<span class="dropdown-header dropdown-appearance-label">{{ 'settings.appearance.label'|trans(domain = 'EasyAdminBundle') }}</span>
								</li>
								<li>
									<a href="#" class="dropdown-item dropdown-appearance-item" data-ea-color-scheme="light">
										<i class="far fa-sun"></i>
										<span>{{ 'settings.appearance.light'|trans(domain = 'EasyAdminBundle') }}</span>
									</a>
								</li>
								<li>
									<a href="#" class="dropdown-item dropdown-appearance-item" data-ea-color-scheme="dark">
										<i class="far fa-moon"></i>
										<span>{{ 'settings.appearance.dark'|trans(domain = 'EasyAdminBundle') }}</span>
									</a>
								</li>
								<li>
									<a href="#" class="dropdown-item dropdown-appearance-item active" data-ea-color-scheme="auto">
										<i class="fas fa-desktop"></i>
										<span>{{ 'settings.appearance.auto'|trans(domain = 'EasyAdminBundle') }}</span>
									</a>
								</li>
							{% endif %}
						</ul>
					</div>
				{% endif %}
				{% endset %}

				<div class="wrapper">
					{% block wrapper %}
						<div class="responsive-header">
							{% block responsive_header %}
								<button id="navigation-toggler" type="button" aria-label="Toggle navigation">
									<i class="fa fa-fw fa-bars"></i>
								</button>

								<div id="responsive-header-logo" class="text-truncate ms-auto">
									{% block responsive_header_logo %}
										<a class="responsive-logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
											{{ ea.dashboardTitle|raw }}
										</a>
									{% endblock responsive_header_logo %}
								</div>

								<div class="dropdown user-menu-wrapper {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }} ms-auto">
									<a
										class="user-details" type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false">
										{# to make the site design consistent, always display the user avatar in responsive header
																																																																																																																																		                                   and hide the user name (because there's no space left) regardless of the user config #}
										{% if ea.userMenu.avatarDisplayed %}
											{{ user_menu_avatar }}
										{% else %}
											<i class="user-avatar fa fa-fw {{ ea.user is not null ? 'fa-user' : 'fa-user-times' }}"></i>
										{% endif %}
									</a>

									{{ user_menu_dropdown }}
								</div>

								{{ settings_dropdown }}
							{% endblock responsive_header %}
						</div>

						<div class="sidebar-wrapper">
							<aside class="sidebar">
								{% block sidebar %}
									<header class="main-header">
										{% block header %}
											<nav class="navbar" role="navigation">
												{% block header_navbar %}
													<div id="header-logo">
														{% block header_logo %}
															<a class="logo" title="{{ ea.dashboardTitle|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
																<span class="logo-custom"><img src="{{ asset('images/Logo-emre1.png') }}" class="logo-emre">{{ ea.dashboardTitle|raw }}</span>
																<span class="logo-compact">
																	<i class="fas fa-home"></i>
																</span>
															</a>
														{% endblock header_logo %}
													</div>
												{% endblock header_navbar %}
											</nav>
										{% endblock header %}
									</header>

									{% block main_menu_wrapper %}
										{{ include(ea.templatePath('main_menu')) }}
									{% endblock main_menu_wrapper %}
								{% endblock sidebar %}

								<div id="sidebar-resizer-handler" class="resizer-handler resizer-handler-left"></div>
							</aside>
						</div>

						<section class="main-content">
							{% set has_search = ea.crud is not null and ea.crud.isSearchEnabled %}
							<aside class="content-top {{ has_search ? 'ea-search-enabled' : 'ea-search-disabled' }}">
								{% block content_top_header %}
									<div class="content-search">
										{% if has_search %}
											{% block search %}

												<form class="form-action-search" method="get">
													{% block search_form %}
														{% block search_form_filters %}
															{% for field, array in ea.search.appliedFilters %}
																{% for key, value in array %}
																	{# This code re-applies your filters on searches, an iterable check is needed in cases we have more than one object for a filter #}
																	{% if value is iterable %}
																		{% for index, iterValue in value %}
																			{# This sub-level iterable check is needed in cases we have more complex filters like the DateTimeFilter cf. issue #5038 #}
																			{% if iterValue is iterable %}
																				{% for subIndex, subIterValue in iterValue %}
																					<input type="hidden" name="filters[{{ field }}][{{ key }}][{{ index }}][{{ subIndex }}]" value="{{ subIterValue }}">
																				{% endfor %}
																			{% else %}
																				<input type="hidden" name="filters[{{ field }}][{{ key }}][{{ index }}]" value="{{ iterValue }}">
																			{% endif %}
																		{% endfor %}
																	{% else %}
																		<input type="hidden" name="filters[{{ field }}][{{ key }}]" value="{{ value }}">
																	{% endif %}
																{% endfor %}
															{% endfor %}
														{% endblock %}

														<input type="hidden" name="crudAction" value="index">
														<input type="hidden" name="crudControllerFqcn" value="{{ ea.request.query.get('crudControllerFqcn') }}">
														<input type="hidden" name="menuIndex" value="{{ ea.request.query.get('menuIndex') }}">
														<input type="hidden" name="submenuIndex" value="{{ ea.request.query.get('submenuIndex') }}">
														<input type="hidden" name="page" value="1">

														<div class="form-group">
															<div class="form-widget">
																<i class="fas fa-search content-search-icon"></i>

																<label class="content-search-label" data-value="{{ app.request.get('query') }}">
																	<input class="form-control {{ app.request.get('query') is null ? 'is-blank' }}" type="search" name="query" value="{{ app.request.get('query') ?? '' }}" placeholder="{{ t('action.search', ea.i18n.translationParameters, 'EasyAdminBundle')|trans }}" spellcheck="false" autocorrect="off" oninput="this.parentNode.dataset.value=this.value" {% if ea.crud.currentAction == 'index' and ea.crud.autofocusSearch == true %} autofocus="autofocus" {% endif %}>
																</label>

																{% if app.request.get('query') %}
																	<a href="{{ ea_url().unset('query') }}" class="content-search-reset">
																		<i class="fas fa-fw fa-times"></i>
																	</a>
																{% endif %}
															</div>
														</div>
													{% endblock %}
												</form>
											{% endblock search %}
										{% endif %}
									</div>

									<div class="navbar-custom-menu">

										{% block header_custom_menu %}
											<div class="dropdown user-menu-wrapper {{ is_granted(impersonator_permission) ? 'user-is-impersonated' }}">
												<a class="user-details" type="button" data-bs-toggle="dropdown" data-bs-offset="0,5" aria-expanded="false">
													{{ user_menu_avatar }}
													{% if ea.userMenu.isNameDisplayed %}
														<span class="user-name">{{ ea.userMenu.name }}</span>
													{% endif %}
												</a>

												{{ user_menu_dropdown }}
											</div>
										{% endblock header_custom_menu %}
									</div>

									{{ settings_dropdown }}
								{% endblock content_top_header %}
							</aside>

							<div class="content-wrapper">
								{% block content %}
									<article class="content">
										{% block content_header_wrapper %}
											{% set has_help_message = (ea.crud.helpMessage ?? '') is not empty %}
											<section class="content-header1">
												{% block content_header %}
													<div class="content-header-title">
														<p class="title10">
															{% block content_title %}{% endblock %}
															{# <i class="fa fa-building" aria-hidden="true"></i>
																																																																																																																																																					 #}
															<img class="logo-emre1" src="{{asset('images/Logo-emre1.png')}}">
															Chatroom

															{% for chat_data in data3 %}
																{% if chat_data.id != app.user.id and chat_data.conversation_id == app.request.requesturi|split('/')|reverse|first %}
																	<div class="topuserinfosection">
																		<div class="d-flex topmenulabel flex-row">
																			<img src="{{ chat_data.avatar }}" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="50">
																			<div class="pt-1">

																				<a href="{{ path('messages.user_info', { 'userid': chat_data.id , 'idconversation': chat_data.conversation_id}) }}">
																					<p class="fw-bold mb-0">{{ chat_data.email }}</p>
																				</a>
																				<p class="small text-muted">
																					{{ chat_data.firstname }}
																					{{ chat_data.lastname }}</p>
																			</div>
																		</div>
																	{% endif %}
																{% endfor %}


																{% for chat_data in data4 %}

																	<div id="overlay-{{chat_data.id}}" class="overlay">


																		<div class="card-body7">
																			<a class="close close-icon" href="#">&times;</a>

																			<h5 class="font-weight-bold headtext2 mb-3 ">{{ chat_data.firstname }}'s Profile
																			</h5>
																			<img src="{{ chat_data.avatar }}" alt="avatar" class="rounded-circle d-flex avatarprofile align-self-center me-3 shadow-1-strong" width="140">

																			<div class="underline"></div>
																			<div class="pt-8">
																				<a href="">
																					<p class="fw-bold  profileheadtext profiletextsection mb-0">full name</p>
																				</a>
																				{# {% block edit_form %}
																																																																																				        {{ form(edit_form) }}
																																																																																				    {% endblock edit_form %} #}
																				<p class="profiletextsection profiletext small text-muted">
																					{{ chat_data.firstname }}
																					{{ chat_data.lastname }}
																					<a href="#">
																						<i class="fa-solid editicon fa-pen"></i>
																					</a>
																				</p>
																				<a href="">
																					<p class=" profiletextsection profileheadtext fw-bold mb-0">
																						Email</p>
																				</a>
																				<p class="profiletextsection profiletext small text-muted">
																					{{	chat_data.emailfull	}}
																					<i class="fa-solid editicon2 fa-pen"></i>
																				</p>
																			</div>


																		{% endfor %}
																	</div>

																</p>
															</p>
														</p>
													</div>
													{% block content_help %}
														{% if has_help_message %}
															<a tabindex="0" class="content-header-help" data-bs-toggle="popover" data-bs-custom-class="ea-content-help-popover" data-bs-animation="true" data-bs-html="true" data-bs-placement="bottom" data-bs-trigger="focus" data-bs-content="{{ ea.crud.helpMessage|trans|e('html_attr') }}">
																<i class="far fa-question-circle"></i>
															</a>
														{% endif %}
													{% endblock %}
													{% block page_actions_wrapper %}
														<div class="page-actions">
															{% block page_actions %}{% endblock %}
														</div>
													{% endblock %}
												{% endblock content_header %}
											</p>
										</section>
										<div class="content-header2">
											{% if isGroup == true %}
												<i class="fa-solid fa-magnifying-glass topmenuicon2" id="my-button" onclick="clickMe()"></i>
												<span class="span searchbar-location"><input type="search" placeholder="Search by.." oninput="this.parentNode.dataset.value=this.value" id="my-input" class="searchbar"></span>


												<div class="dropdown3">

													<i class="fa-solid fa-ellipsis-vertical topmenuicon5" onclick="toggleDropdown(this)"></i>
													<div class="dropdown3-content">
																<a href="{{ path('messages.group_info', { 'idConversation': conversation_id }) }}">
																										<p>Group info

																											<i class="fa-solid fa-people-group topmenuicon4"></i>
																										</p>
																									</a>
																								</p><br><br>
														<p class="text-danger textsection">Delete<a class="text-white font-weight-bold" href="{{ path('messages.category_delete_group', { 'id': app.user.id, 'idConversation': conversation_id }) }}">
																<i class="fa-solid fa-trash-can deleteicon1"></i>
															</a>
														</p><br>
													</div>
												</div>


											{% else %}
												<i class="fa-solid fa-magnifying-glass topmenuicon2" id="my-button" onclick="clickMe()"></i>
												<span class="span searchbar-location"><input type="search" placeholder="Search by.." oninput="this.parentNode.dataset.value=this.value" id="my-input" class="searchbar"></span>


												<div class="dropdown3">

													<i class="fa-solid fa-ellipsis-vertical topmenuicon5" onclick="toggleDropdown(this)"></i>
													<div class="dropdown3-content">
													<p class="text-info">View profiel<a href="{{ path('messages.user_info', { 'userid': otherUser , 'idconversation': conversation_id}) }}" class="a-profile">
																									<i class=" fa-solid fa-address-card topmenuicon4"></i>
																								</a>
																							</p><br><br>
														<p class="text-danger textsection">Delete<a class="text-white font-weight-bold" href="{{ path('messages.category_delete_user', { 'id': app.user.id, 'idConversation': conversation_id }) }}">
																<i class="fa-solid fa-trash-can deleteicon1"></i>
															</a>
														</p><br>
													</div>
												</div>


											{% endif %}
										</div>
									{% endblock content_header_wrapper %}


									<!-- MDB -->


									{# <style>
																																																																																									 .card {
																																																																																									    border: 0;
																																																																																									  width: 100%;
																																																																																									}
																																																																																									
																																																																																									</style> #}
									<div class="chat-box2 test5">

										<div id="content " class="container py-5">

											<div class="row">

												<div class="col-md-6 chatbox1 col-lg-5 col-xl-4 mb-4 mb-md-0">
													<div class="card-body2">

														<p class="sectionlabel">
															Incoming messages
														</p>


														<div class="card3">
															<ul class="list-unstyled mb-0">

																{# <h1>WERKT NIET</h1> #}
																{# voor als je eeen limiet wilt geven aan de aantal dingen laat zien|slice(0, 5) #}
																	{% for chat_data in data2|sort((a, b) => a.created_at < b.created_at)|slice(0, 10) %}
																		{% if chat_data.conversation_id in conversationIds and chat_data.id != app.user.id %}

																			{% if chat_data.id != app.user.id and chat_data.id is not null  %}

																				<div class="d-flex userlabel flex-row"> <img src="{{ chat_data.avatar }}" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
																				<div class="pt-1">
																					<a href="http://crm-system:2525/public/messages/{{chat_data.id}}/{{chat_data.conversation_id}}">
																						<p class="fw-bold mb-0">{{ chat_data.email }}</p>
																					</a>
																					<p class="small text-muted">
																						{{ chat_data.content }}</p>
																				</div>

																			</div>
																			<p class="small timeago text-muted mb-1">{{ chat_data.created_at|time_diff }}</p>
																			<div class="pt-1 ">

																			{% endif %}
																		{% endif %}
																	{% endfor %}

																	<div class="section2">
																		<p class="sectionlabel">
																			Friends
																		</p>
																		{# {% if participant1 is not null and participant2 is not null %} #}

																		{% for chat_data in data3 %}

																			{% if chat_data.conversation_id in conversationgroupIds %}
																				{% if chat_data.conversation_id in conversationIds and chat_data.id != app.user.id %}


																					{#link kan moeten verander van ap.user.id naar conversation_id #}

																					<div class="d-flex userlabel friendssection flex-row">
																						<img src="{{ chat_data.avatar }}" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
																						<div class="pt-1">
																							<a href="http://crm-system:2525/public/messages/{{chat_data.id}}/{{chat_data.conversation_id}}">
																								<p class="fw-bold mb-0">{{ chat_data.email }}</p>
																							</a>
																							<p class="small text-muted">
																								{{chat_data.firstname}}
																								{{chat_data.lastname}}
																							</p>
																						</div>
																					</div>
																					<div class="pt-1">
																						<p class="small  text-muted mb-1"></p>
																						<i class="fa-solid fa-ellipsis-vertical topmenuicon3" onclick="toggleDropdown(this)"></i>
																						<div class="dropdown3-content">
																							<p class="text-info">View profiel<a href="{{ path('messages.user_info', { 'userid': chat_data.id , 'idconversation': chat_data.conversation_id}) }}" class="a-profile">
																									<i class=" fa-solid fa-address-card topmenuicon4"></i>
																								</a>
																							</p><br><br>
																							<p class="text-danger textsection">Delete<a class="text-white font-weight-bold" href="{{ path('messages.category_delete_group', { 'id': app.user.id, 'idConversation': conversation_id }) }}">
																									<i class="fa-solid fa-trash-can deleteicon1"></i>
																								</a>
																							</p><br>
																						</div>
																					</div>
																				{% endif %}
																			{% endif %}
																		{% endfor %}
																		<p class="sectionlabel">
																			Groups
																		</p>
																		{% for chat_data in data5 %}


																			{% if chat_data.id not in conversationgroupIds %}
																				{% if chat_data.id in conversationIds and chat_data.id != app.user.id %}


																					{#link kan moeten verander van ap.user.id naar conversation_id #}
																					<li class="p-2">
																						<a href="#!" class="d-flex justify-content-between">
																							<div class="d-flex flex-row">
																								<img src="data:image/jpeg;base64,{{ chat_data.image }}" alt="avatar" class="rounded-circle d-flex align-self-center me-3 shadow-1-strong" width="60">
																								<div class="pt-1">
																									<a href="http://crm-system:2525/public/messages/{{app.user.id}}/{{chat_data.id}}">
																										<p class="fw-bold mb-0">{{ chat_data.group_name }}</p>
																									</a>
																									<p class="small text-muted">
																										{{ chat_data.group_disc }}
																									</p>
																								</div>
																							</div>
																							<div class="pt-1">
																								<p class="small text-muted mb-1"></p>
																								<i class="fa-solid fa-ellipsis-vertical topmenuicon3" onclick="toggleDropdown(this)"></i>
																								<div class="dropdown3-content">
																									<a href="{{ path('messages.group_info', { 'idConversation': chat_data.id }) }}">
																										<p>Group info

																											<i class="fa-solid fa-people-group topmenuicon4"></i>
																										</p>
																									</a>
																								</p><br><br>
																								<p class="text-danger textsection">Delete<a class="text-white font-weight-bold" href="deletegroup/{{ app.user.id}}/{{ chat_data.id }}">
																										<i class="fa-solid fa-trash-can deleteicon2"></i>
																									</a>
																								</p><br>
																							</div>
																						</div>
																						{# {{chat_data.group_name}} #}
																					{% endif %}
																				{% endif %}
																			{% endfor %}
																			{# {% endif %} #}
																		</div>
																	</div>
																</a>
															</li>
														</ul>

													</div>
												</div>

											</div>
											{# {{ app.user.id}} #}
											{# <div class="monitor"> #}

											<div
												class="col-md-6 col-lg-7 chatbox3 col-xl-8">
												{# RECHTE KANT als in berichten box#}
												{% for chat_data in data|sort((a, b) => a.created_at > b.created_at)  %}
													{# <input type="submit" value="Submit"> <a href="/delete"></a></input>> #}


													<ul class="list-unstyled myUL">

														{% if chat_data.user_id != app.user.id and chat_data.conversation_id == app.request.requesturi|split('/')|reverse|first %}


  {# dit zijn bericht dat en een bericht en een foto hebben/BerichtYesFotoYes  #}
																	{% if chat_data.content is not empty and chat_data.message_image is not empty %}
															<li class="d-flex justify-content-between mb-4">
																<a href="#popup1">
																	<img src={{ chat_data.avatar }} alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60"></a>
																<div class="card2">
																	<div class="card-header d-flex justify-content-between p-3">
																		<a href="#popup1">
																			<p class="fw-bold mb-0">
																				{{ chat_data.email }}
																			</p>
																		</a>
																		<p class="text-muted small mb-0">
																			<i class="far fa-clock"></i>
																			{{ chat_data.created_at|time_diff }}</p>
																	</div>
																		<div class="card-body-image-bericht">
																		<p class="mb-0 messagecontent">
																			
																			<div style=" text-align:center;">
																				<img src="data:image/png;base64,{{ chat_data.message_image }}" alt="Image" style="border-radius:10px;" width="200"/></div><br>

																				{{ chat_data.content }}</p>
																	

																	</div>
																</div>
															</li>
{% endif %}

							{# Dit zijn bericht dat alleen een bericht hebben en geen foto of bestand/BerichtYesFotoNo #}
																			{% if chat_data.content is not empty and chat_data.message_image is empty %}
															<li class="d-flex justify-content-between mb-4">
																<a href="#popup1">
																	<img src={{ chat_data.avatar }} alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60"></a>
																<div class="card2">
																	<div class="card-header d-flex justify-content-between p-3">
																		<a href="#popup1">
																			<p class="fw-bold mb-0">
																				{{ chat_data.email }}
																			</p>
																		</a>
																		<p class="text-muted small mb-0">
																			<i class="far fa-clock"></i>
																			{{ chat_data.created_at|time_diff }}</p>
																	</div>
																	<div class="card-body3">
																		<p class="mb-0 messagecontent">
																			{{ chat_data.content }}</p>
																		

																	</div>
																</div>
															</li>
{% endif %}

						{# dit zijn bericht die geen bericht hebben maar alleen een foto/BerichtNoFotoYes #}
																	{% if chat_data.content is empty and chat_data.message_image is not empty %}
															<li class="d-flex justify-content-between mb-4">
																<a href="#popup1">
																	<img src={{ chat_data.avatar }} alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60"></a>
																<div class="card2">
																	<div class="card-header d-flex justify-content-between p-3">
																		<a href="#popup1">
																			<p class="fw-bold mb-0">
																				{{ chat_data.email }}
																			</p>
																		</a>
																		<p class="text-muted small mb-0">
																			<i class="far fa-clock"></i>
																			{{ chat_data.created_at|time_diff }}</p>
																	</div>
																	<div class="card-body-image-bericht">
																		<p class="mb-0 messagecontent">
																			
																				
																							</p>
																							<div style=" text-align:center;">
																				<img src="data:image/png;base64,{{ chat_data.message_image }}" alt="Image" style="border-radius:10px;" width="200"/></div>

																	</div>
																</div>
															</li>
{% endif %}


	{# dit zijn bericht dat een bestand hebben deze worden apart weergegeven  #}
{% if chat_data.message_file is not empty %}

	<li class="d-flex justify-content-between mb-4">
		<a href="#popup1">
			<img src={{ chat_data.avatar }} alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60"></a>
		<div class="card2">
			<div class="card-header d-flex justify-content-between p-3">
				<a href="#popup1">
					<p class="fw-bold mb-0">
						{{ chat_data.email }}
					</p>
				</a>
				<p class="text-muted small mb-0">
					<i class="far fa-clock"></i>
					{{ chat_data.created_at|time_diff }}</p>
			</div>
			<div class="card-body-file-main">
				<p class="mb-0 messagecontent">
					<div class="card-body-file">
						<a class="file-download-text" target="_blank" href="{{ asset('profileImages/' ~ chat_data.message_file) }}">{{chat_data.message_file}}</a>
					</div>
					{% if chat_data.message_file %}
						<a href="{{ path('messages.download_file', { filename: chat_data.message_file }) }}">
							<i class="fa-regular fa-circle-down downloadButton"></i>
						</a>
						
					</p>
				</p>
			</div>
		</div></li>

{% endif %}{% endif %}

														{% endif %}

{# RECHTE KANT #}
														{# {{ app.request.requesturi|last}} #}
														{% if chat_data.user_id == app.user.id and chat_data.conversation_id == app.request.requesturi|split('/')|reverse|first %}

															     {# dit zijn bericht dat en een bericht en een foto hebben/BerichtYesFotoYes  #}
																	{% if chat_data.content is not empty and chat_data.message_image is not empty %}
																<li class="d-flex justify-content-between mb-4">
																	<div class="card1 ">
																		<div class="card-header d-flex justify-content-between p-3">
																			<p class="fw-bold mb-0">
																				{{ chat_data.email }}
																			</p>
																			<p class="text-muted small mb-0">
																				<i class="far fa-clock"></i>
																				{{ chat_data.created_at|time_diff }}</p>
																		</div>
																		<div class="card-body-image-bericht">
																			<p class="mb-0 messagecontent">
																				<a class="text-white font-weight-bold" href="delete/{{ chat_data.id }}">
																					<i class="fa-solid fa-trash-can deleteicon"></i>
																				</a>
																				<div style=" text-align:center;">
																				<img src="data:image/png;base64,{{ chat_data.message_image }}" alt="Image" style="border-radius:10px;" width="200"/></div><br>

																				{{ chat_data.content }}
																			</p>


																		</div>
																	</div><img src="{{ chat_data.avatar }}" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60"></li>
															{% endif %}
																{# Dit zijn bericht dat alleen een bericht hebben en geen foto of bestand/BerichtYesFotoNo #}
																			{% if chat_data.content is not empty and chat_data.message_image is empty %}
																		<li class="d-flex justify-content-between mb-4">
																<div class="card1 ">
																	<div class="card-header d-flex justify-content-between p-3">
																		<p class="fw-bold mb-0">
																			{{ chat_data.email }}
																		</p>
																		<p class="text-muted small mb-0">
																			<i class="far fa-clock"></i>
																			{{ chat_data.created_at|time_diff }}</p>
																	</div>
																			<div class="card-body1">
																		<p class="mb-0 messagecontent">
																			<a class="text-white font-weight-bold" href="delete/{{ chat_data.id }}">
																				<i class="fa-solid fa-trash-can deleteicon"></i>
																			</a>
																				{{ chat_data.content }}
																							</p>
																						
																						

																	</div>
																</div><img src="{{ chat_data.avatar }}" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60"></li>


																	{% endif %}
																	{# dit zijn bericht die geen bericht hebben maar alleen een foto/BerichtNoFotoYes #}
																	{% if chat_data.content is empty and chat_data.message_image is not empty %}
																		<li class="d-flex justify-content-between mb-4">
																<div class="card1 ">
																	<div class="card-header d-flex justify-content-between p-3">
																		<p class="fw-bold mb-0">
																			{{ chat_data.email }}
																		</p>
																		<p class="text-muted small mb-0">
																			<i class="far fa-clock"></i>
																			{{ chat_data.created_at|time_diff }}</p>
																	</div>
																		<div class="card-body-image-bericht">
																		<p class="mb-0 messagecontent">
																			<a class="text-white font-weight-bold" href="delete/{{ chat_data.id }}">
																				<i class="fa-solid fa-trash-can deleteicon"></i>
																			</a>
																				
																							</p>
																							<div style=" text-align:center;">
																				<img src="data:image/png;base64,{{ chat_data.message_image }}" alt="Image" style="border-radius:10px;" width="200"/></div>
																						

																	</div>
																</div><img src="{{ chat_data.avatar }}" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60"></li>
																	{% endif %}
																

																		
																		

																		{# dit zijn bericht dat een bestand hebben deze worden apart weergegeven  #}
																			{% if chat_data.message_file is not empty %}
																						<li class="d-flex justify-content-between mb-4">
																<div class="card1 ">
																	<div class="card-header d-flex justify-content-between p-3">
																		<p class="fw-bold mb-0">
																			{{ chat_data.email }}
																		</p>
																		<p class="text-muted small mb-0">
																			<i class="far fa-clock"></i>
																			{{ chat_data.created_at|time_diff }}</p>
																	</div>
																				<div class="card-body-file-main">
																		<p class="mb-0 messagecontent">
																			<div class="card-body-file">
																				<a class="file-download-text" target="_blank" href="{{ asset('profileImages/' ~ chat_data.message_file) }}">{{chat_data.message_file}}</a>
																				</div>
																					{% if chat_data.message_file %}
																				<a href="{{ path('messages.download_file', { filename: chat_data.message_file }) }}">
																				<i class="file-icon"></i>
																					<i class="fa-regular fa-circle-down downloadButton"></i>
																				</a>
																				<a class="text-white font-weight-bold" href="delete/{{ chat_data.id }}">
																				<i class="fa-solid fa-trash-can deleteicon3"></i>
																			</a>
																										</p>
																	</div>
																</div><img src="{{ chat_data.avatar }}" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60"></li>
																
																			{% endif %}
																	
																			
																			{% endif %}
																		
																		
															
														{% endif %}{# {{ convid }} #}{% endfor %}
												</div>
												<div class="messagemenu">

													<div class="messagebox">
														{{ form_start(chatForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
														{# {{ form_row(chatForm.content) }} #}
														<div class="hidden">
															{{ form_row(chatForm.user, {'value' :  app.user.id  }) }}
															{{ form_row(chatForm.conversation , {'value' : (app.request.requesturi|split('/')|reverse|first) }) }}
														</div>
														<i class="fa-regular fa-face-grin-wide messageicon3"></i>
														<div class="wrapperfile">
														<i class="fa-solid fa-paperclip messageicon4"></i>
														 <div class="icons-container">
 <label class="image-upload-label">
  <i class="fa-regular fa-image imageiconzone" id="message_image_input"></i>
  {{ form_widget(chatForm.message_image, {'label':false, 'attr': {'accept': 'image/*', 'class': 'image-upload', 'id': 'message_image_input'}}) }}
</label>
<label class="image-upload-label">
  <i class="fa-regular fa-file fileiconzone" id="message_file_input"></i> 
  	{{ form_row(chatForm.message_file, {'label': false, 'attr': {'accept': '.pdf,.png,.jpg,.doc,.docx,.txt,.xlsx,.pptx', 'class': 'file-upload', 'id': 'message_file_input'} }) }}
	</label>
  </div>
  </div>
  
														<p class="chatbox4 " id="emojis">
															<div class="emoji-picker-container tijdelijk">
															<div id="file-selected"></div>
															
																{{ form_row(chatForm.content, {'label':false, 'attr': {'class': 'message-box'} } )}}
														
														</p>
														<button class="sendbutton" type="submit">
															<svg class="btn-layer">
																<path d="M136,77.5c0,0-11.7,0-12,0c-90,0-94.2,0-94.2,0s-10.8,0-25.1,0c-0.2,0-0.8,0-0.8,0c-2.2,0-4-1.8-4-4v-47  c0-2.2,1.8-4,4-4c0,0,0.6,0,0.9,0c39.1,0,61.1,0,61.1,0s3,0,69.1,0c0.2,0,0.9,0,0.9,0c2.2,0,4,1.8,4,4v47  C140,75.7,138.2,77.5,136,77.5z"/>
															</svg>
															<svg class="plane">
																<use xlink:href="#plane"/>
															</svg>
														</button>

														<!-- SVG -->
														<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
															<symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 140 100" id="btn-layer" preserveaspectratio="none">
																<path d="M133,77.5H7c-3.9,0-7-3.1-7-7v-41c0-3.9,3.1-7,7-7h126c3.9,0,7,3.1,7,7v41C140,74.4,136.9,77.5,133,77.5z"/>
															</symbol>
															<symbol xmlns="http://www.w3.org/2000/svg" viewbox="0 0 28 26" id="plane" preserveaspectratio="none">
																<path d="M5.25,15.24,18.42,3.88,7.82,17l0,4.28a.77.77,0,0,0,1.36.49l3-3.68,5.65,2.25a.76.76,0,0,0,1-.58L22,.89A.77.77,0,0,0,20.85.1L.38,11.88a.76.76,0,0,0,.09,1.36Z"/>
															</symbol>
														</svg>
														{# 																																				
														 <input type="file" id="file-input" name="file" style="display:none;" accept=".pdf,.png,.jpg,.doc,.docx,.txt,.xlsx,.pptx">
														        <p id="filename"></p> #}
														{{ form_end(chatForm) }}
													</div>
												</div>
											</div>
										</div>
										{# </div> #}
									</div>
								</div>

								<script src="{{ asset('/public/emojiLib/jquery-3.6.3.js') }}"></script>


								<script src="{{ asset('/public/emojiLib/vanillaEmojiPicker.js') }}"></script>


								<script>
									new EmojiPicker({
trigger: [
{
selector: '.messageicon3',
insertInto: '.message-box' // '.selector' can be used without array
},
],
closeButton: true
});

// searchbar function
document.getElementById('my-button').onclick = function () {
document.getElementById('my-input').classList.toggle('show');
}

// classnames icons
var buttons = document.getElementsByClassName("fa-gear");
var searchbutton = document.getElementsByClassName(" fa-magnifying-glass");
var deletebutton = document.getElementsByClassName(" fa-trash-can");

// this is for the setting icon
for (var i = 0; i < buttons.length; i++) {
buttons[i].addEventListener("click", function () {
this.classList.toggle("fa-spin");
});
}
document.addEventListener("click", function (event) {
var target = event.target;
var isButton = false;

for (var i = 0; i < buttons.length; i++) {
if (target == buttons[i]) {
isButton = true;
break;
}
}

if (! isButton) {
for (var i = 0; i < buttons.length; i++) {
buttons[i].classList.remove("fa-spin");
}
}
});

// this is for the search icon

for (var i = 0; i < searchbutton.length; i++) {
searchbutton[i].addEventListener("click", function () {
if (this.classList.contains("fa-beat")) {
this.classList.remove("fa-beat");
} else {
this.classList.add("fa-beat");
}
});
}

// this is for the delete button
for (var i = 0; i < deletebutton.length; i++) {
deletebutton[i].addEventListener("click", function () {
this.classList.toggle("fa-beat-fade");
});
}
document.addEventListener("click", function (event) {
var target = event.target;
var isButton = false;

for (var i = 0; i < deletebutton.length; i++) {
if (target == deletebutton[i]) {
isButton = true;
break;
}
}

if (! isButton) {
for (var i = 0; i < deletebutton.length; i++) {
deletebutton[i].classList.remove("fa-beat-fade");
}
}
});
// search filter function
jQuery.fn.highlight = function (pat) {
function innerHighlight(node, pat) {
var skip = 0;
if (node.nodeType == 3) {
var pos = node.data.toUpperCase().indexOf(pat);
pos -= (node.data.substr(0, pos).toUpperCase().length - node.data.substr(0, pos).length);
if (pos >= 0) {
var spannode = document.createElement('span');
spannode.className = 'highlight';
var middlebit = node.splitText(pos);
var endbit = middlebit.splitText(pat.length);
var middleclone = middlebit.cloneNode(true);
spannode.appendChild(middleclone);
middlebit.parentNode.replaceChild(spannode, middlebit);
skip = 1;
}
} else if (node.nodeType == 1 && node.childNodes && !/(script|style)/i.test(node.tagName)) {
for (var i = 0; i < node.childNodes.length; ++ i) {
i += innerHighlight(node.childNodes[i], pat);
}
}
return skip;
}
return this.length && pat && pat.length ? this.each(function () {
innerHighlight(this, pat.toUpperCase());
}) : this;
};

jQuery.fn.removeHighlight = function () {
return this.find("span.highlight").each(function () {
this.parentNode.firstChild.nodeName;
with (this.parentNode) {
replaceChild(this.firstChild, this);
normalize();
}
}).end();
};

$(document).ready(function () {
$('#my-input').on('input', function () {
$('.messagecontent').removeHighlight().highlight($(this).val());
});
});

// sendbutton aniamtion
gsap.registerPlugin();

document.querySelectorAll('.sendbutton').forEach(element => {

let path = element.querySelector('.btn-layer path'),
tl = gsap.timeline();

element.addEventListener('click', e => {

element.classList.add('active')

tl.to(path, {
morphSVG: 'M136,77.5h-1H4.8H4c-2.2,0-4-1.8-4-4v-47c0-2.2,1.8-4,4-4c0,0,0.6,0,0.9,0C44,22.5,66,10,66,10  s3,12.5,69.1,12.5c0.2,0,0.9,0,0.9,0c2.2,0,4,1.8,4,4v47C140,75.7,138.2,77.5,136,77.5z',
duration: .3,
delay: .3
}).to(path, {
morphSVG: 'M136,77.5c0,0-11.7,0-12,0c-90,0-94.2,0-94.2,0s-10.8,0-25.1,0c-0.2,0-0.8,0-0.8,0c-2.2,0-4-1.8-4-4v-47  c0-2.2,1.8-4,4-4c0,0,0.6,0,0.9,0c39.1,0,61.1,0,61.1,0s3,0,69.1,0c0.2,0,0.9,0,0.9,0c2.2,0,4,1.8,4,4v47  C140,75.7,138.2,77.5,136,77.5z',
duration: 1.7,
ease: 'elastic.out(1, .15)',
onComplete() {
element.classList.remove('active')
}
})
})
})
// this is for the delete users fucntion dropdown
function toggleDropdown(element) {
var dropdownContainers = document.getElementsByClassName("dropdown3-content");
for (var i = 0; i < dropdownContainers.length; i++) {
dropdownContainers[i].style.display = "none";
}

var parent = element.parentElement;
var dropdownContainer = parent.getElementsByClassName("dropdown3-content")[0];

if (dropdownContainer.style.display === "block") {
dropdownContainer.style.display = "none";
} else {
dropdownContainer.style.display = "block";

document.addEventListener("click", function (event) {
if (! dropdownContainer.contains(event.target) && event.target !== element) {
dropdownContainer.style.display = "none";
}
});
}
}
//files icons 
const wrapper = document.querySelector('.wrapperfile');
const icons = document.querySelectorAll('.icons-container i');

wrapper.addEventListener('click', () => {
  wrapper.classList.toggle('clicked');
});

icons.forEach((icon) => {
  icon.addEventListener('click', (event) => {
    event.stopPropagation();
  });
});
// JavaScript code
const fileInput = document.querySelector('#message_file_input');
const imageInput2 = document.querySelector('#message_image_input');
const fileSelected = document.querySelector('#chat_form_content');

fileInput.addEventListener('change', () => {
  // Get the list of selected files
  const files = fileInput.files;
  // Update the display element with the file names
  fileSelected.textContent = `Selected file(s): ${Array.from(files).map(file => file.name).join(', ')}`;
});

imageInput2.addEventListener('change', () => {
  // Get the list of selected files
  const files = imageInput2.files;
  // Update the display element with the file names
  fileSelected.textContent = `Selected file(s): ${Array.from(files).map(file => file.name).join(', ')}`;
});


//file type icons
function addFileIcon() {
  const fileLinks = document.querySelectorAll('a[href$=".pdf"], a[href$=".doc"], a[href$=".docx"], a[href$=".xls"], a[href$=".xlsx"], a[href$=".ppt"], a[href$=".pptx"]');

  fileLinks.forEach(function(link) {
    const fileExtension = link.href.split('.').pop().toLowerCase();
    const fileIcon = link.querySelector('.file-icon');

    if (fileIcon !== null) {
      switch (fileExtension) {
        case 'pdf':
          fileIcon.classList.add('fa-regular', 'fa-file-pdf');
          break;
        case 'doc':
        case 'docx':
          fileIcon.classList.add('fa-solid', 'fa-file-word');
          break;
        case 'xls':
        case 'xlsx':
          fileIcon.classList.add('fa-solid', 'fa-file-excel');
          break;
        case 'ppt':
        case 'pptx':
          fileIcon.classList.add('fa-solid', 'fa-file-powerpoint');
          break;
        default:
          // no icon found
          break;
      }
    }
  });
}

  window.onload = addFileIcon;

// send fies function
{# var paperclip = document.querySelector('.fa-paperclip');
var fileInput = document.getElementById('file-input');
var filename = document.getElementById('file-label');
var chatContent = document.querySelector('.message-box');

paperclip.addEventListener('click', function () {
fileInput.click();
});

fileInput.addEventListener('change', function () {
if (fileInput.files && fileInput.files[0]) {
var file = fileInput.files[0];
var reader = new FileReader();
reader.onload = function (e) {
var fileData = e.target.result;
chatContent.value = fileData;
var fileName = file.name;
var fileIcon = getFileIcon(fileName);
var fileLabel = '<i class="' + fileIcon + '"></i>' + fileName;
filename.innerHTML = fileLabel;
}
reader.readAsDataURL(file);
} else {
chatContent.value = '';
filename.innerHTML = '';
}
});

function getFileIcon(fileName) {
var fileExt = fileName.split('.').pop();
switch (fileExt) {
case 'pdf':
return 'far fa-file-pdf';
case 'png':
case 'jpg':
case 'jpeg':
return 'far fa-file-image';
case 'doc':
case 'docx':
return 'far fa-file-word';
case 'txt':
return 'far fa-file-alt';
case 'xlsx':
case 'xls':
return 'far fa-file-excel';
case 'pptx':
return 'far fa-file-powerpoint';
default:
return 'far fa-file';
}
} #}
								</script>
								{# <section id="main" class="content-body">
																																																																																									{% block main %}
																																																																																										<p class="title2">
																																																																																											<i class="fa fa-home" aria-hidden="true"></i>
																																																																																											/ Home
																																																																																										</p>
																																																																																								
																																																																																										<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
																																																																																										
																																																																																						
																																																																																									{% endblock %}
																																																																																								</section> #}

								{% block content_footer_wrapper %}
									{% set content_footer = block('content_footer') is defined ? block('content_footer') : '' %}
									{% if content_footer is not empty %}
										<section class="content-footer">
											{{ content_footer }}
										</section>
									{% endif %}
								{% endblock %}
							</article>
						{% endblock content %}

						<div id="content-resizer-handler" class="resizer-handler resizer-handler-right"></div>
					</div>
				</body>
			</html>
		</body>
	</body>
</html></section>{% endblock wrapper %}</div>{% endblock wrapper_wrapper %}{% block body_javascript %}{% endblock body_javascript %}{% block configured_body_contents %}{% for htmlContent in ea.assets.bodyContents ?? [] %}{{ htmlContent|raw }}{% endfor %}{% endblock %}</body>{% endblock body %}</html>
